<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{normal/base::layout(~{::section})}">
<head>
<meta charset="UTF-8" />
<title th:text="${title}">Show Contacts</title>
</head>
<body>

	<section>

		<div class="card m-3">
			<div class="card-body">
				<h1 class="text-center">Your Contacts</h1>

				<!-- Search -->
				<div class="search-container">
					<input onkeyup="search()" id="search-input" type="text"
						class="form-control" placeholder="Search your contacts" />

					<div class="search-result mt-3">

						<!-- Result will display here -->

					</div>
				</div>


				<!-- Table -->
				<div class="table-responsive">
					<table class="table mt-3 table-hover">
						<thead class="table-light">
							<tr>
								<th scope="col">Id</th>
								<th scope="col">Name</th>
								<th scope="col">Email</th>
								<th scope="col">Phone Number</th>
								<th scope="col">Action</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="c : ${contacts}">
								<th scope="row" th:text="'SMCU'+${c.cid}"></th>
								<td><img src="" class="my_profile"
									th:src="@{'/img/'+${c.image}}" /> <span th:text="${c.name}"></span></td>
								<td><a href="#" th:href="@{'/user/'+${c.cid}+'/contact'}">
										<span th:text="${c.email}"></span>
								</a></td>
								<td th:text="${c.phone}"></td>
								<td>
									<div class="container" style="display: flex; gap: 8px;">
										<button th:onclick="|deleteContact(${c.cid})|"
											class="btn btn-danger btn-sm">
											<i class="fa-solid fa-trash"></i>
										</button>

										<form method="post" action=""
											th:action="@{'/user/update-contact/'+${c.cid}}">
											<button class="btn btn-success btn-sm">
												<i class="fa-solid fa-pen-to-square"></i>
											</button>
										</form>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>

				<!-- Pagination Part -->
				<nav aria-label="Page navigation example">
					<ul class="pagination">
						<li th:if="${currentPage != 0}" class="page-item"><a
							class="page-link"
							th:href="'/user/show-contacts/'+${currentPage-1}" href="#">Previous</a></li>

						<li th:classappend="${currentPage == i-1 ? 'active' : ''}"
							th:each="i : ${#numbers.sequence(1, totalPages)}"
							class="page-item"><a th:href="'/user/show-contacts/'+${i-1}"
							class="page-link" href="#"><span th:text="${i}"></span></a></li>

						<li th:if="${currentPage+1 != totalPages}" class="page-item"><a
							class="page-link"
							th:href="'/user/show-contacts/'+${currentPage+1}" href="#">Next</a></li>
					</ul>
				</nav>

			</div>
		</div>
		
		<script>
			$(document).ready(() => {
				$(".item").removeClass("active");
				$("#view-contacts").addClass("active");
			});
		</script>
		
	</section>

</body>
</html>