<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{normal/base::layout(~{::section})}">
<head>
<meta charset="UTF-8" />
<title th:text="${title}">Dashboard</title>
</head>
<body>

	<section>
		<div class="container">
			<div class="card mt-5">
				<div class="card-body m-3">
					<div class="container text-center mt-3">
						<img src=""
							style="height: 200px; width: 200px; border-radius: 50%; object-fit: cover;"
							th:src="@{'/img/'+${user.imageUrl}}" alt="profile picture" />
					</div>

					<h1 class="text-center mt-3 fst-italic fw-light text-secondary">Start
						adding your contact on cloud...</h1>

					<a class="btn btn-primary w-100 mt-4 text-uppercase" href=""
						th:href="@{/user/add-contact}">Add New Contact</a>
				</div>
			</div>
		</div>

		<script>
			$(document).ready(() => {
				$(".item").removeClass("active");
				$("#home").addClass("active");
			});
		</script>

	</section>

</body>
</html>