<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>This is SignUp Page</title>
</head>
<body>

	<section>

		<div class="container">
			<div class="row">
				<div class="col-md-8 offset-md-2">

					<div class="my-card mt-3">

						<div class="container text-center">
							<img src="" width="100px;" th:src="@{/img/register.png}" alt="Register" />
						</div>

						<h1 class="text-center">Register Here</h1>

						<form action="" th:action="@{/do_register}" method="post">


							<!-- Name field -->
							<div class="mb-3">
								<label for="name" class="form-label">Your Name</label> <input
									type="text" class="form-control" id="name"
									aria-describedby="emailHelp" placeholder="Enter name here"
									required>

							</div>

							<!-- Email field -->
							<div class="mb-3">
								<label for="email" class="form-label">Your Email</label> <input
									type="email" class="form-control" id="email"
									aria-describedby="emailHelp" placeholder="Enter email here"
									required>

							</div>

							<!-- Password field -->
							<div class="mb-3">
								<label for="password" class="form-label">Your Password</label> <input
									type="password" class="form-control" id="password"
									aria-describedby="emailHelp" placeholder="Enter password here"
									required>

							</div>

							<!-- User About field -->
							<div class="mb-3">
								<textarea placeholder="Enter about yourself" rows="10"
									class="form-control"></textarea>
							</div>

							<!-- Button field -->
							<div class="container text-center">

								<button type="submit" class="btn bg-primary text-white">Submit</button>

								<button type="reset" class="btn btn-warning">Reset</button>

							</div>

						</form>

					</div>

				</div>
			</div>
		</div>
	</section>
</body>
</html>