<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>This is SignUp Page</title>
</head>
<body>

	<section>

		<div class="container">
			<div class="row">
				<div class="col-md-8 offset-md-2">

					<div class="my-card mt-3">

						<div th:if="${session.message}"
							th:classappend="${session.message.type}" class="alert"
							role="alert">
							<p class="text-center" th:text="${session.message.content}"></p>

							<!-- 
								<th:block th:text="${#session.removeAttribute('message')}"></th:block>
							 -->
						</div>


						<div class="container text-center">
							<img src="" width="100px;" th:src="@{/img/register.png}"
								alt="Register" />
						</div>

						<h1 class="text-center">Register Here</h1>

						<form novalidate action="" th:action="@{/do_register}"
							method="post" th:object="${user}">


							<!-- Name field -->
							<div class="mb-3">
								<label for="name" class="form-label">Your Name</label> <input
									name="name" type="text" class="form-control"
									th:classappend="${#fields.hasErrors('name') ? 'is-invalid' : ''}"
									id="name" aria-describedby="emailHelp"
									placeholder="Enter name here" required th:value="${user.name}">

								<div class="invalid-feedback"
									th:each="e : ${#fields.errors('name')}" th:text="${e}"></div>

							</div>

							<!-- Email field -->
							<div class="mb-3">
								<label for="email" class="form-label">Your Email</label> <input
									name="email" type="email" class="form-control" id="email"
									th:classappend="${#fields.hasErrors('email') ? 'is-invalid' : ''}"
									aria-describedby="emailHelp" placeholder="Enter email here"
									required th:value="${user.email}">
									
								<div class="invalid-feedback"
									th:each="e : ${#fields.errors('email')}" th:text="${e}"></div>

							</div>

							<!-- Password field -->
							<div class="mb-3">
								<label for="password" class="form-label">Your Password</label> <input
									name="password" type="password" class="form-control"
									id="password" aria-describedby="emailHelp"
									th:classappend="${#fields.hasErrors('password') ? 'is-invalid' : ''}"
									th:value="${user.password}" placeholder="Enter password here"
									required>
									
								<div class="invalid-feedback"
									th:each="e : ${#fields.errors('password')}" th:text="${e}"></div>

							</div>

							<!-- User About field -->
							<div class="mb-3">
								<textarea name="about" th:value="${user.about}"
									placeholder="Enter about yourself" rows="10"
									th:text="${user.about}"
									class="form-control"></textarea>
							</div>

							<!-- Terms and condition agreement -->
							<div class="md-3 form-check">
								<input type="checkbox" name="agreement" class="form-check-input"
									id="agreement" /> <label for="agreement">Accept terms
									and conditions</label>
							</div>

							<!-- Button field -->
							<div class="container text-center">

								<button type="submit" class="btn bg-primary text-white">Submit</button>

								<button type="reset" class="btn btn-warning">Reset</button>

							</div>

						</form>

					</div>

				</div>
			</div>
		</div>
	</section>
</body>
</html>